:root{
  --dark-color:#635bff;
  --light-color:#80e9ff;
}
#triangle_1, #triangle_2{
  fill:var(--dark-color);
}
#triangle_3{
  fill:var(--light-color);
  transform: translatex(-100%);
}
#triangle_1, #triangle_2, #triangle_3
{
  transition: all 1s ease;
}
svg:hover #triangle_1 {
  transform: translatex(20%);
}
svg:hover #triangle_2 {
  transform: translatex(40%);
  opacity:0;
}
svg:hover #triangle_3 {
  transform: translatex(0%);
}
x-test
{
  color:blue;
}